.feature-item {
	position: relative;
	
	padding-bottom: 2.5rem;

	@include atSmall(){
		padding-left: 94px;
	}

	&__icon {
		display: block;
		margin: 0 auto;

		@include atSmall(){
			position: absolute;
			left: 0;
		}
	}

	&__title{
		font-size: 1.6rem;
		font-weight: 300;
		margin-top: .6rem;
		margin-bottom: .8rem;
		text-align: center;

		@include atSmall(){
			text-align: left;
			margin-top: 1rem;
			font-size: 1.875rem;
		}
	}
}