.social-icons {
	text-align: center;

	&__icon {
		background:$mainOrange;
		display: inline-block;
		margin: 0 5px 5px 5px;
		width: 32%;
		height: 72px;
		position: relative;

		@include atSmall {
			width: 72px;
			margin: 0 5px;
		}

		.icon {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}